@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
  text-align: center;
}

/* HEADER////////////////////////////*/
h1 {
  font-family: 'Kanit', sans-serif;
  background-color: brown;
  margin: 0;
  padding: 6px;
}

#icon {
  padding-left: 9px;
  color: orangered
}
/*//////////////////////////////////*/

/* COUNTRY CARDS///////////////////*/
a {
  text-decoration: none;
  color: black;
}

#cuisine-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1124px;
  margin: auto;
  justify-content: center;
}

#cuisine-country {
  border: 1px solid rgba(0, 0, 0, 0.541);
  justify-content: flex-start;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  height: 84px;
  background-size: cover;
}

#cuisine-country:hover {
  cursor: pointer;
}

#countryName {
  color: rgb(246, 246, 246);
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#meal-flex {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

#meal-card {
  display: flex;
  width:350px;
  justify-content: space-between;
  border: 1px solid brown;
  margin: 10px;
}

#meal-thumb {
  width: 153px;
  height: 153px;
  border-right: 1px solid brown;
}

#meal-name {
  padding-right: 9px;
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
/*//////////////////////////////////*/

/* FORM/////////////////////////////*/
#form {
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: 9px;
  width: fit-content;
  padding-bottom: 4px;
  border-radius: 4px;
}

#search-option {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

#searchbar {
  border: none;
  outline: none;
}

input::placeholder {
  font-size: 12px;
  font-style: italic;
}

#search-icon {
  border: none;
  background: none;
  color: rgb(173, 173, 173);
}
/*//////////////////////////////////*/

/* RECIPES/////////////////////////*/
h2 {
  margin-bottom: 0px;
}

h4 {
  text-align: left;
  width: 320px;
  margin: auto;
  margin-top: 24px;
  padding-bottom: 1px;
  border-bottom: 1px solid;
  font-weight: 600;
}

#origin {
  margin-top: 10px;
}

#recipethumb {
  margin-top: 7px;
  height: 180px;
}

ul {
  width: 320px;
  margin: auto;
  text-align: left;
  border-bottom: 1px solid;
}

li {
  list-style: none;
  line-height: 22px;
}

li:first-of-type {
  margin-top: 3px;
}

li:last-child {
  margin-bottom: 3px;
}

#instructions {
  max-width: 810px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 25px;
}

#video-btn {
  display: block;
  width: 230px;
  color: white;
  background-color: rgb(27, 116, 146);
  border-radius: 6px;
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
}



@media screen and (max-width: 350px) {
  #meal-card {
    border-left: none;
    border-right: none;
    margin-left: 0;
    margin-right: 0;
  }
}