@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.App {
  text-align: center;
}

/* HEADER////////////////////////////*/
h1 {
  font-family: 'Kanit', sans-serif;
  background-color: brown;
  margin: 0;
  padding: 6px;
}

#icon {
  padding-left: 9px;
  color: orangered
}
/*//////////////////////////////////*/

/* COUNTRY CARDS///////////////////*/
a {
  text-decoration: none;
  color: black;
}

#cuisine-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1075px;
  margin: auto;
}

#cuisine-country {
  border: 1px solid blue;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 280px;
}
/*//////////////////////////////////*/
/* FORM/////////////////////////////*/
#form {
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: 9px;
  width: fit-content;
  padding-bottom: 4px;
  border-radius: 4px;
}

#search-option {
  border: none;
  outline: none;
  cursor: pointer;
}

#searchbar {
  border: none;
  outline: none;
}

input::placeholder {
  font-size: 12px;
  font-style: italic;
}

#search-icon {
  border: none;
  background: none;
  color: rgb(173, 173, 173);
}
/*//////////////////////////////////*/